{% extends 'base.html.twig' %}

{% block title %}Create Equipment{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Create Equipment</h1>

    {{ form_start(form, {'attr': {'class': 'row g-3'}}) }}

    <div class="col-12">
        {{ form_row(form.name, {'attr': {'class': 'form-control mb-3'}, 'label': 'Equipment Name'}) }}
    </div>

    <div class="col-12">
        {{ form_row(form.description, {'attr': {'class': 'form-control mb-3'}, 'label': 'Equipment Description'}) }}
    </div>

    <div class="col-12">
        {# Add the submit button with some margin at the top #}
        <button type="submit" class="btn btn-success">Create Equipment</button>
    </div>

    {{ form_end(form) }}
</div>
{% endblock %}
