{# templates/project/list.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}List of Projects{% endblock %}

{% block body %}
    <h1>List of Projects</h1>

    <ul>
        {% for project in projects %}
            <li>{{ project.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}
